html {
    overflow-y: scroll;
}

body {
    padding-top: 100px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 380px;
}

.news-image {
    width: auto;
    height: 200px;
}

.multiple-image {
    display: inline-block;
    margin: 5px;
    width: auto;
    height: 100px;
}

.btn-inline {
    /*float: left;*/
    /*margin-right: 5px;*/
}

/*carousel*/

#myCarousel {
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item > img {
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: -20%;
    min-height: 300px;
}

.carousel-caption {
    vertical-align: middle;
    font-size: 2em;
    text-shadow: 2px 2px #000;
    position: absolute;
    bottom: 5%;
}

/*menu*/
/*.menu-line {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
/*}*/

.nav li > a {
    font-size: 1.2em;
    padding: 15px 20px;
}

.dropdown-menu > li > a {
    padding: 10px;
}

.collapse {
    border-bottom: 1px solid #000;
}

.products-line {
    background-color: red;
}