@model PianoMelody.Web.Models.BindingModels.ResourcesBindingModel

@{
    ViewBag.Title = Resources._AddLabel;
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="row">
            @Html.AntiForgeryToken()
            @Html.Partial("_Label", Model)
            <div class="col-lg-3">
                <div class="form-group">
                    <input type="submit" value="@Resources._Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
