@{
    ViewBag.Title = Resources.About;
    ViewBag.Keyword = "";
    ViewBag.Description = "";
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink(Resources._Edit, "Edit", new { html = "_EditAbout", returnUrl = Request.RawUrl }, new { @class = "btn btn-primary" })
    </p>
    <hr />
}

@Html.Raw(Resources._EditAbout)