@model PianoMelody.Web.Models.ViewModels.ManufacturerViewModel

@{
    var url = "/Images/no_image.jpg";
    var thumb = url;

    if (Model != null && Model.Multimedia != null)
    {
        url = Model.Multimedia.Url;
        var thumbElements = url.Split('/');
        thumb = string.Format("/{0}/thumbs/{1}", thumbElements[1], thumbElements[2]);
    }
}

<div class="panel-heading">
    @Html.DisplayFor(modelItem => Model.Name)
</div>
<div class="panel-body">
    <p>
        <a href="@Model.UrlAddress" target="_blank" rel="alternate"><img src="@thumb" itemprop="thumbnail" alt="" /></a>
    </p>
</div>