html {
    overflow-y: scroll;
}

body {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: 'Marmelad', sans-serif;
}

.panel-body {
    padding-right: 0;
}

.panel-body p:last-of-type {
    margin-bottom: 0;
}

.multiple-image {
    display: inline-block;
    margin: 5px;
    width: auto;
    height: 100px;
}

#myCarousel {
    width: 100%;
    /*overflow: hidden;*/
}

.carousel-inner {
    height: 450px;
}

.carousel-inner > .item > img {
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: -20%;
    min-height: 300px;
}

.carousel-caption {
    vertical-align: middle;
    font-size: 2em;
    text-shadow: 2px 2px #000;
    position: absolute;
    bottom: 200px;
}

h3,
h4,
nav {
    font-family: 'Philosopher', sans-serif;
}

h3 {
    margin-bottom: 30px;
}

h4 {
    margin-top: 30px;
}

.float-right {
    float: right;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}

.about-li > li {
    list-style-type: none;
}

.navbar li > a {
    font-size: 1.2em;
    padding: 15px 20px;
}

.navbar-brand {
    padding: 15px 20px;
}

.navbar .dropdown-menu > li > a,
.navbar .dropdown-menu > li > a:focus {
    padding: 10px;
    font-size: 15px;
}

.cd-main-content p {
    text-align: justify;
}

.carousel-caption p {
    text-align: center;
}

.collapse {
    border-bottom: 1px solid #000;
}

.products-line {
    background-color: red;
}

.gallery-photo {
    float: left;
}

.social-icon {
    width: 32px;
    height: auto;
}

.bold {
    text-shadow:
            1px 0 0 #000,
            0 1px 0 #000;
}

.margin-right-20 {
    margin-right: 20px;
}

.padding-top-50 {
    padding-top: 50px;
}

iframe {
    margin-top: 20px;
    margin-bottom: 30px;
}

.manufacturer-logo{
    width: 150px;
}

.my-gallery figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.my-gallery figure img {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    height: 164px;
}

.my-gallery a {
    margin-top: 0;
}

.products a {
    margin-top: 10px;
}

.photos {
    height: 355px;
    margin-top: 20px;
}

.photos img {
    margin-left: 20px;
}

figure > a {
    height: 164px;
    width: 100%;
    object-fit: cover;
}

.gallery-photo+p {
    height: 120px;
    width: 100%;
}

.panel:hover .piano-keys {
    background: #ddd url("../Images/keys.png") no-repeat 353px;
    opacity: 0.7;
}

.cd-main-nav-wrapper a.active {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5em;
}

.block {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    height: 331.5px;
}

.block .panel-heading {
    /*height: 65px;*/
    /*display: block;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*line-height: 1.55;*/
}

.block .my-gallery {
    margin-right: 15px;
}

.ellipsis  {
    /*display: block;*/
    /*display: -webkit-box;*/
    /*height: 164px;*/
    /*-webkit-line-clamp: 7;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*line-height: 1.5;*/
}

/* scroll in news for mozilla and explorer

_:-moz-tree-row(hover), .ellipsis {
    overflow-y: scroll;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ellipsis {
        overflow-y: scroll;
    }
}

*/

.home a {
    color: #000;
}

.height-283 {
    height: 283px;
}

.height-283 .panel-heading {
    height: 87px;
}

.height-315 {
    height: 315px;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-0 {
    padding-right: 0;
}

.home .dl-horizontal {
    height: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home .products figure {
    width: 100%;
}

.home .products figure img {
    max-width: 320px;
}

.width-100 .row .col-lg-8 {
    width: 100%;
}

.width-100 .row .col-lg-8 p {
    padding-right: 10px;
}

.home .width-100 .panel,
.pointer {
    cursor: pointer;
}

.margin-right-15 {
    margin-right: 15px;
}

.height-120 {
    height: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    background-color: #000;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .links {
    font-size: 0.9em;
}

footer .links ul li {
    padding-bottom: 5px;
}

footer .dropup button,
footer .dropup button:hover,
footer .dropup button:focus,
footer .dropup button:active,
footer .open > .dropdown-toggle.btn-default,
footer .open > .dropdown-toggle.btn-default:hover,
footer .open > .dropdown-toggle.btn-default:focus,
footer .open > .dropdown-toggle.btn-default:active,
footer .btn-default,
footer .btn-default:hover,
footer .btn-default:active:hover {
    background: none;
    border-color: #4c4c4c;
    color: #fff;
}

.btn-default,
.btn-default:hover,
.btn-default:active:hover {
    outline: none;
}

.social {
    margin-top: 30px;
    padding-left: 50px;
}

.social a {
    margin: 0 10px;
}

.language {
    clear: right;
    margin-top: 30px;
}

footer .row {
    margin-top: 50px;
    margin-right: 15px;
}

footer .dropdown-menu {
    background: #000;
}

footer .dropdown-menu a:hover {
    background-color: #4c4c4c;
}

footer .dropdown-menu a {
    color: #ccc;
}

footer .dropdown-menu a.active {
    color: #fff;
    text-transform: uppercase;
}

.pull-right {
    color: #6f6f6f;
}

.modal-body .col-lg-8 {
    width: 100%;
}

.modal-body .col-lg-8 img {
    width: 100%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo {
    display: block;
    vertical-align: middle;
    cursor: pointer;
}

.manufacturer-logo {
    margin-bottom: 20px;
    max-width: 150px;
    margin-right: 10px;
    vertical-align: bottom;
}

@media screen and (max-width: 1200px) {
    .carousel-caption {
        bottom: 90px;
    }
    .height-315 {
        height: auto;
    }
    .gallery .photos {
        height: auto;
    }
    .gallery figure {
        flex-wrap: nowrap;
    }
    .gallery figure > a {
        width: 75%;
    }
    .gallery p {
        margin: 10px 10px 5px 30px;
    }
    .gallery figure img {
        height: auto;
    }
    footer .links {
        width: 30%;
        display: inline-block;
    }
    .social {
        width: 295px;
        display: inline-block;
        vertical-align: top;
        margin-top: 30px;
        padding-left: 0;
        margin-right: 0;
        text-align: center;
    }
    .language {
        display: inline-block;
        width: 25%;
    }
    .copyright {
        float: right;
        margin-right: -15px;
        color: #fff;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 900px) {
    .carousel-inner {
        height: 398px;
    }
    .carousel-caption {
        bottom: 10px;
    }
    .carousel-indicators {
        bottom: 15px;
    }
    .social {
        width: 300px;
    }
    .language {
        width: 160px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-inner {
        height: 366px;
    }
    .carousel-caption {
        bottom: 20px;
    }
    .carousel-caption p {
        font-size: 0.8em;
    }
    .carousel-indicators {
        bottom: 10px;
    }
    .block {
        width: 100%;
        height: auto;
    }
    .block .panel-heading {
        height: auto;
        display: block;
        line-height: 1;
    }
    .padding-left-50 {
        padding-left: 15px;
    }
    .photos img {
        margin-left: 0;
    }
    .gallery figure > a {
        width: 100%;
    }
    footer .links {
        /*text-align: center;*/
        padding-left: 25px;
    }
    .social {
        /*padding-left: 5px;*/
        text-align: center;
    }
    .language {
        margin-left: 0;
    }
    footer .dropup .dropdown-toggle {
        margin-left: 42px;
    }
    footer .dropup ~ li div a {
        margin-left: -7px;
    }
    .copyright {
        float: left;
        margin: 0;
    }
}

@media screen and (max-width: 640px) {
    .carousel-inner {
        height: 334px;
    }
    .carousel-caption {
        bottom: 15px;
    }
    .carousel-indicators {
        bottom: 10px;
    }
}

@media screen and (max-width: 620px) {
    .carousel-inner {
        height: 316px;
    }
    .gallery p {
        margin-left: 10px;
    }
}

@media screen and (max-width: 540px) {
    .carousel-inner {
        height: 272px;
    }
}

@media screen and (max-width: 500px) {
    .carousel-inner {
        height: 249px;
    }
    .carousel-caption p {
        font-size: 0.7em;
    }
    .carousel-indicators {
        bottom: 5px;
    }
    .social {
        width: 320px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-inner {
        height: 238px;
    }
}

@media screen and (max-width: 360px) {
    .carousel-caption p {
        font-size: 0.6em;
    }
}