@model IEnumerable<PianoMelody.Web.Models.ViewModels.ArticleGroupViewModel>

@{
    Layout = null;
}

@{
    if (Model != null)
    {
        foreach (var articleGroup in Model)
        {
            <li>@Html.ActionLink(articleGroup.Name, "Index", "Products", new { group = articleGroup.Id }, new { })</li>
        }
    }
}