@model PianoMelody.Web.Models.ViewModels.ManufacturerViewModel

@{
    var url = "/Images/no_image.jpg";
    if (Model != null && Model.Multimedia != null)
    {
        url = Model.Multimedia.Url;
    }
}

<div class="panel-heading">
    @Html.DisplayFor(modelItem => Model.Name)
</div>
<div class="panel-body">
    <img src="@url" class="news-image" alt="" />
    <p>
        <a href="@Model.UrlAddress" target="_blank" rel="nofollow">@Model.UrlAddress</a>
    </p>
</div>
