@model PianoMelody.Web.Models.ViewModels.ManufacturerViewModel

@{
    ViewBag.Title = Resources._Delete + Resources._Manufacturer;
}

<h3>@Resources._AreYouSure</h3>
<hr />

<article class="panel panel-default">
    @Html.Partial("_ManufacturerInfo", Model)

     @if (User.IsInRole("Admin"))
     {
         <div class="panel-footer">
             @using (Html.BeginForm("Delete", "Manufacturer", new { returnUrl = this.Request.QueryString["returnUrl"] }, FormMethod.Post, new { }))
             {
                 @Html.AntiForgeryToken()

                 <div class="form-actions no-color">
                     <input type="submit" value="@Resources._Delete" class="btn btn-danger" />
                 </div>
             }
         </div>
     }
</article>
