@{
    ViewBag.Title = Resources.About;
    ViewBag.Keyword = "";
    ViewBag.Description = "";
    <h3>1998г. - Създаване на пиано салон "МЕЛОДИЯ"</h3>
    <img src="../Images/IMG_0037.jpg" alt="photo" width="500" class="float-right" />
    <p>Създадохме ПИАНО САЛОН "МЕЛОДИЯ" преди близо 2 десетилетия през 1998 г. с идеята да предложим на българския пазар качествени ПИАНА и РОЯЛИ и компетентно и професионално обслужване. От тогава и до днес работим с голямо желание, упорит труд и уважение към клиентите. Тази наша политика ни изведе на водеща позиция и ни утвърди като БЕЗСПОРЕН ЛИДЕР в търговията с ПИАНА и РОЯЛИ в България.</p>
    <p>Ние сме известни с това, че сме единственият магазин в България, където ВИНАГИ могат да бъдат намерени качествени ПИАНА и РОЯЛИ, както НОВИ така и употребявани от най-реномирани световни марки в перфектно състояние.</p>
    <p>Предлагаме любезно и професионално обслужване от КОНСУЛТАНТИ с ВИСШЕ музикално образование - специалност ПИАНО.</p>
    <p>Разполагаме със собствен магазин в центъра на София и склад.</p>
    <p>ПРОДАВАМЕ и транспортираме ПИАНА и РОЯЛИ на територията на ЦЯЛАТА СТРАНА и Европа.</p>

    <p>Вече 18 години развиваме успешна дейност, както в страната така и в чужбина. Имаме над 15 ГОДИШЕН ОПИТ във вноса на пиана и рояли от ГЕРМАНИЯ, ЧЕХИЯ и БЕЛГИЯ и износ за страни като ГЪРЦИЯ, МАКЕДОНИЯ, АЛБАНИЯ и др.</p>
    <p>Заслужихме признанието и доверието и на чуждестранните си партньори и сме горди да бъдем официални представители и партньори на НАЙ-РЕНОМИРАНИТЕ световни производители на ПИАНА и РОЯЛИ - С.BECHSTEIN, PETROF, SAUTER, SEILER, SAMICK и др.</p>
    <p>Ние сме единствената фирма в България, която има споразумение със световния лидер - STEINWAY & SONS за внос и обслужване на произвежданите от тях ВИСОК КЛАС ПИАНА и РОЯЛИ на територията на РЕПУБЛИКА БЪЛГАРИЯ.</p>
    <p>Да се развиваме и да сме информирани за новото в бизнеса е важно за нас! Ето защо всяка година посещаваме СВЕТОВНИЯ МУЗИКАЛЕН ПАНАИР във ФРАНКФУРТ, запознаваме се с новостите в музикалния бизнес, поддържаме добрите си бизнес взаимоотношения с нашите партньори и разширяваме сферата си на дейност.</p>

    <img src="../Images/RIM 5.2009 078.jpg" alt="photo" width="300" class="float-left" />

    <h4>Защо да изберете нас?</h4>
    <ul class="about-li">Защото сме:
        <li>- коректни</li>
        <li>- продаваме само проверени и качествени пиана и рояли - както нови, така и употребявани</li>
        <li>- няма да Ви подведем за качеството на инструментите, които предлагаме, както и за страната производител</li>
        <li>- ще бъдем любезни и ще отговоим на всички Ваши въпроси</li>
        <li>- ще спазим уговорения срок за доставка</li>
        <li>- ще продължим да се развиваме, защото нашите клиенти заслужават да получат най-качествените инструменти и най-добро обслужване</li>
        <li>- защото от 18 години сме на пазара, доказахме се и продължаваме да бъдем безспорен лидер в търговията с пиана и рояли в България</li>
    </ul>
}