@model PianoMelody.Web.Models.ViewModels.CarouselViewModel

@{
    var url = "/Images/no_image.jpg";
    var thumb = url;

    if (Model != null)
    {
        url = Model.Url;
        var thumbElements = url.Split('/');
        thumb = string.Format("/{0}/thumbs/{1}", thumbElements[1], thumbElements[2]);
    }
}

<div class="panel-heading">
    @Html.DisplayFor(modelItem => Model.Content)
</div>
<div class="panel-body">
    <img src="@thumb" itemprop="thumbnail" alt="@Model.Content" />
</div>
